tmp.*
vars*.mk
secret.yml
tmp-secrets.yaml

.DS_Store
.idea
credentials.json
tmp*

charts/azure-keyvault-secrets/values.yaml
src/github.com/*
vendor/*
creds.json
hook.json
scripts/hook.json
./bin/secret-injector
/test-deploy/config
/bin/secret-injector
